<div>
    <input type="search" [(ngModel)]="query" placeholder="Find your beer with Style">
</div>

<ul class="main-list" row mobile=column flex=grow mobile-align="start center" align=center>

  <span class="load" *ngIf="loading" row align="center center" flex><img flex="none" src="/assets/images/loading.gif" alt="Loading Content" /></span>

  <li *ngFor="let style of styles | search:'name':query">
    <a [routerLink]="['/beers', style.categoryURI]" >
      {{style.name}}
    </a>
  </li>

</ul>
