$main-color: #edd27f;

.logo {
  background: #fafafa;
  padding-top: 1rem;
  padding-bottom: 35pt;
  margin-bottom: -30pt;
  img {
    width: 100pt;
    height: auto;
    display: block;
  }
}

#search-toggle{
  border-radius: 50%;
  color: white;
  background-color: darken($main-color, 10%);
  box-shadow: 0 2pt 10pt rgba(black, .2);
  height: 30pt;
  position: fixed;
  bottom: .5rem;
  right: .5rem;
}
