<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Brewser</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favorite Icons -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/favicons/brewserapple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/brewserapple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/brewserapple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicons/brewserapple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/favicons/brewserapple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicons/brewserapple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/favicons/brewserapple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicons/brewserapple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/assets/images/favicons/brewserfavicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/assets/images/favicons/brewserfavicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/assets/images/favicons/brewserfavicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/assets/images/favicons/brewserfavicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/assets/images/favicons/brewserfavicon-128.png" sizes="128x128" />
<meta name="application-name" content="Brewser"/>
<meta name="msapplication-TileColor" content="#edd27f" />
<meta name="msapplication-TileImage" content="/assets/images/favicons/brewsermstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/assets/images/favicons/brewsermstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/favicons/brewsermstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/favicons/brewsermstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/favicons/brewsermstile-310x310.png" />


<meta name="twitter:title" content="{{process.env.appName}}"/>
<meta name="twitter:description" content="<%= process.env.appDescription %>"/>
<meta name="twitter:image" content="/images/favicons/mstile-310x150.png"/>

<meta name="theme-color" content="#edd27f"/>
<meta name="reply-to" content="christhopherleao@icloud.com">
<meta name="author" content="Christhopher Lion">
<meta name="fragment" content="!">
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="apple-mobile-web-status-bar-style" content="black">
<meta name="description" content="<%= process.env.appDescription %>" />

<meta property="og:type" content="website" />
<meta property="og:locale" content="en_UK">
<meta property="og:locale:alternate" content="pt-BR" />
<meta property="og:site_name" content="{{process.env.appName}}" />
<meta property="og:title" content="{{process.env.appName}}" />
<meta property="og:description" content="<%= process.env.appDescription %>" />
<meta property="og:url" content="/" />

<meta property="og:image" content="assets/images/brand/logo-800x600.png" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="600">

<meta property="og:video" content="assets/images/brand/intro.mp4" />
<meta property="og:video:type" content="video/mp4" />
<meta property="og:video:width" content="400" />
<meta property="og:video:height" content="300" />

<meta property="og:audio" content="assets/images/brand/audio.mp3" />
<meta property="og:audio:type" content="audio/mpeg" />

<meta property="twitter:title" content="{{process.env.appName}}" />

</head>
<body column>
  <app-root></app-root>
</body>
</html>
