/* You can add global styles to this file, and also import other style files */
@import "~flamework";

$main-color: #edd27f;

body{
  background-color: $main-color;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inherit;
  width: 100%;
  height: 100%;
}

h2{
  text-align: center;
  color: lighten($main-color, 15%);
  font-weight: 100;
  font-size: 1.8rem;
  padding: 5%;
}

.load{
  position: absolute;
  top: 50%;
  width: 100%;
  img{
    margin: auto;
    width: 64pt;
    height: 64pt;
  }
}

.main-list{
  width: 100%;
  overflow-y: auto;
  li{
    background-color: lighten($main-color, 7%);
    padding: .5rem;
    color: white;
    font-weight: 600;
    margin: .5rem;
    border-radius: 5pt;
  }
}

input{
  border: 2pt solid #e0e0e0;
  padding: .5rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.4;
  border-radius: 5pt;
}
[type=search]{
  background-color: white;
  margin: 1rem;
  box-shadow: 0 2pt 10pt $black1;
}
