<main container column align="center">

  <form (ngSubmit)="onSubmit(form)" novalidate #form="ngForm" row nowrap align="between center">
      <input type="search" placeholder="Find a Beer"
        [(ngModel)]="beer" name="beer" required>
      <button type="submit">Search</button>
  </form>

  <h1 *ngIf="!response">Nothing to Display.</h1>


  <ul class="beers-list" column flex align="start stretch">

      <span class="load" *ngIf="loading" row align="center center"><img flex="none" src="/assets/images/loading.gif" alt="Loading Content" /></span>

      <li *ngFor="let beer of response">
        <a [routerLink]="['/beer', beer.id]">
          <div class="beer-item" row nowrap align="start center">
            <img *ngIf=beer.labels [src]="beer.labels.icon" />
            <img class="noImage" *ngIf=!beer.labels src="/assets/images/logo-stroke-black.svg" />
            <div flex>
              <h4>{{beer.name}}</h4>
              <p></p>
            </div>
          </div>
        </a>
      </li>

    </ul>

</main>
