<main container>
  <div>
    <input type="search" [(ngModel)]="query" placeholder="Find your beer">
  </div>


  <h2>{{title}}</h2>

  <ul class="beers-list" row mobile=column flex mobile-align="start stretch" align=center>

    <span class="load" *ngIf="loading" row align="center center" flex><img flex="none" src="/assets/images/loading.gif" alt="Loading Content" /></span>

    <li *ngFor="let beer of beers | search:'name':query">
      <a [routerLink]="['/beer', beer.id]">
        <div class="beer-item" row nowrap align="start center">
          <img *ngIf=beer.labels [src]="beer.labels.icon" />
          <img class="noImage" *ngIf=!beer.labels src="/assets/images/logo-stroke-black.svg" />
          <div flex>
            <h4>{{beer.name}}</h4>
            <p></p>
          </div>
        </div>
      </a>
    </li>

  </ul>
</main>
